
.xp {
    &__small {
        font-size: 1em;
        color: #999;
    }

    &__header {
        color: #333;
        margin: 0;
    }

    &__p {
        color: #595959;
        line-height: 1.4em;
        margin-top: 10px;

    }

    &__timeline_date {
        position: absolute;
        top: 112%;
        left: calc(50% - 45px);
        @include transform(-50%,-50%);
        font-weight: 600;
        color: #737071;
        @include respond(tab-port) {
           left: -10%;
           top: 45%;
           @include transform(-100%,-100%);
           width: 35%;
        }
        @include respond(phone) {
            left: 0;
            top: 100%;
            @include transform(0,100%);
            width: 100%;
        }
    }

    &__timeline_bubble {
        position: absolute;
        @include transform(-50%,-50%);
        border-radius: 50%;
        top: 100%;
        left: calc(50% - 45px);
        width: 20px;
        height: 20px;
        background-color: black;
        @include respond(tab-port) {
            left: -50%;
            top: 50%;
            @include transform(-50%,-50%);
        }
        @include respond(phone) {
            left: -15%;
            top: 30%;
            @include transform(-40%,-50%);
        }
    
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: -400%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            width: 2px;
            height: 100px;
            background-color: black;
            @include respond(tab-port) {
                height: 2px;
                width: 100px;
                top: 50%;
                @include transform(0, -50%); 
            }
            @include respond(phone) {
                height: 0;
                width: 0;
            }
        }
    }

    &__timeline_date_2 {
        position: absolute;
        top: -13%;
        left: calc(50% - 45px);
        @include transform(-50%,-50%);
        font-weight: 600;
        color: #737071;
        @include respond(tab-port) {
            left: -10%;
            top: 45%;
            @include transform(-100%,-100%);
            width: 35%;
         }
         @include respond(phone) {
            left: 0;
            top: 75%;
            @include transform(0,0);
            width: 100%;
        }
    }

    &__timeline_bubble_2 {
        position: absolute;
        top: -8%;
        @include transform(-50%,50%);
        border-radius: 50%;
        left: calc(50% - 45px);
        width: 20px;
        height: 20px;
        background-color: black;
        @include respond(tab-port) {
            left: -50%;
            top: 50%;
            @include transform(-40%,-50%);
        }
        @include respond(phone) {
            left: -15%;
            top: 30%;
            @include transform(-40%,-50%);
        }
    
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            width: 2px;
            height: 100px;
            background-color: black;
            @include respond(tab-port) {
                height: 2px;
                width: 100px;
                top: 50%;
                @include transform(0, -50%);
            }
            @include respond(phone) {
                height: 0;
                width: 0;
            }
        }
    }
}

.timeline_row {
    display: flex;
    flex-direction: row ;
    height: 400px;
    margin: 0;

    @include respond(tab-port) {
        display: block;
        width: 60%;
        height: auto;
        left: 50%;
    }
    @include respond(phone) {
        width: 100%;
        left: 15%;
    }
}

.timeline_row_2 {
    display: flex;
    flex-direction: row ;
    height: 250px;
    margin: 0;

    @include respond(tab-port) {
        display: block;
        width: 60%;
        left: 50%;
        height: auto;
    }

}

.timeline_column_1 {
    padding-right: 45px;
    align-self: flex-start;
    list-style: none;
    margin-bottom: 100px;
    @include respond(tab-port) {
        margin-bottom: 100px;
     }

 
}

.timeline_column_2 {
    padding-right: 45px;
    align-self: flex-start;
    list-style: none;
    margin-top: 100px;
    @include respond(tab-port) {
        margin-bottom: 100px;
        margin-top: 0;
     }


}

.timeline_column_3 {
    padding-right: 45px;
    align-self: center;
    list-style: none;
}

.timeline_line {
    position: absolute;
    width: 100vw;
    background-color: black;
    height: 4px;
    top: 50%;
    @include transform(0, -50%);
    overflow: hidden;

    @include respond(tab-port) {
        width: 4px;
        height: 150%;
        @include transform(0, 0);
        top: -100px;
        left: 10%;
        overflow: hidden;
    }

    @include respond(phone) {
        height: 250%;
    }
}

.wrapper_2 {
    width:100%;
    height: 100%;
    position: relative;
    @include respond(tab-port) {
      height: auto;
    }

}

.wrapper_3 {
    width:35%;
    height: 100%;
    position: relative;
    left: 15%;

    @include respond(tab-port) {
       left: 50%;
       width: 100%;
    }
    @include respond(phone) {
        width: 100%;
        left: 15%;
    }

}